p {
    font-family: "Overlock", cursive;
    font-size: 1.42rem;
}

h1 {
    font-family: 'VT323', monospace;
    color: rgb(232, 142, 64);
}

h3 {
    font-family: 'Ubuntu', sans-serif;
}

h5 {
    font-family: 'AudioWide', cursive;
    vertical-align: bottom !important;
}

.answer {
    background-image: url("../assets/answer-unselected.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    /*padding: 0 5px 0 5px;*/
    margin: 5px 0 5px 0;
    border-radius: 25px;
}

.submitAnswer {
    background-image: url("../assets/green-button.png");
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 5px 0 5px 0;
    border-radius: 25px;
}

.modal {
    max-height: 100%;
    top: 0px !important;
}

#submitUser {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 0;
    border-radius: 25px;
}

#submitUser>img {
    visibility: visible;
}

#yes {
    max-height: 6em;
    border-radius: 25px;
}

#accept {
    max-height: 4.2em;
    border-radius: 25px;
}

#decline {
    max-height: 4.2em;
    border-radius: 25px;
}

#again {
    max-height: 6em;
    border-radius: 25px;
}

.fail {
    max-width: 100%;
    height: auto;
}

.fail {
    animation-name: pullDown;
    -webkit-animation-name: pullDown;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}

@keyframes pullUp {
    0% {
        visibility: visible;
        transform: scaleY(0.1);
    }
    40% {
        transform: scaleY(1.02);
    }
    60% {
        transform: scaleY(0.98);
    }
    80% {
        transform: scaleY(1.01);
    }
    100% {
        transform: scaleY(0.98);
    }
    80% {
        transform: scaleY(1.01);
    }
    90% {
        transform: scaleY(0.1);
    }
    100% {
        transform: scaleY(0);
        visibility: hidden;
    }
}

@-webkit-keyframes pullUp {
    0% {
        -webkit-transform: scaleY(0.1);
    }
    40% {
        -webkit-transform: scaleY(1.02);
    }
    60% {
        -webkit-transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(0);
    }
}

@keyframes pullDown {
    0% {
        transform: scaleY(0.1);
    }
    40% {
        transform: scaleY(1.02);
    }
    60% {
        transform: scaleY(0.98);
    }
    80% {
        transform: scaleY(1.01);
    }
    100% {
        transform: scaleY(0.98);
    }
    80% {
        transform: scaleY(1.01);
    }
    100% {
        transform: scaleY(0);
    }
}

@-webkit-keyframes pullDown {
    0% {
        -webkit-transform: scaleY(0.1);
    }
    40% {
        -webkit-transform: scaleY(1.02);
    }
    60% {
        -webkit-transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(0.98);
    }
    80% {
        -webkit-transform: scaleY(1.01);
    }
    100% {
        -webkit-transform: scaleY(0);
    }
}

.success {
    max-width: 100%;
    height: auto;
}

.success {
    animation-name: pullDown;
    -webkit-animation-name: pullDown;
    animation-duration: 2s;
    -webkit-animation-duration: 2s;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -webkit-transform-origin: 50% 0%;
}

:invalid {
    color: red;
    position: relative;
}

::-webkit-validation-bubble-message {
    position: absolute;
}

.submitAnswer>p {
    font-family: 'AudioWide', cursive;
}

container>.userPic {
    top: 50%;
    transform: translateY(-50%);
    position: relative;
}

label>input {
    visibility: hidden;
    position: relative;
}

label>input+img {
    cursor: pointer;
    border: 2px solid transparent;
}

label>input:checked+img {
    border: 2px solid #f00;
    border-radius: 25%;
}
